.modifPopupMateriel,
#ajouterMateriel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 4vh 2vw;
  border-radius: 0.5vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 25vw;
  height: 80%;
  overflow-y: scroll;
  display: none;
}

.modifPopupMateriel.active,
#ajouterMateriel.active {
  display: block;
}

.modifPopupMateriel_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5vw;
}

.modifPopupMateriel_content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modifPopupMateriel_content_header button {
  background-color: transparent;
  border: none;
}

.modifPopupMateriel_content_header h3 {
  font-size: 1.5vw;
  font-weight: 600;
}

.modifPopupMateriel img {
  width: 1.5vw;
  height: 1.5vw;
}

.modifPopupMateriel_content_body {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5vw;
  width: 100%;
}

.modifPopupMateriel_content_body_item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5vw;
  width: 100%;
}

.modifPopupMateriel_content_body_item label {
  font-size: 1.2vw;
  font-weight: 600;
}

.modifPopupMateriel_content_body_item input {
  width: 100%;
  padding: 0.5vw;
  border-radius: 0.5vw;
  border: 1px solid #000;
}

.modifPopupMateriel_content_body_item select {
  width: 100%;
  padding: 0.5vw;
  border-radius: 0.5vw;
  border: 1px solid #000;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 5vh;
  border: none;
  background-color: #d31b4a;
  border-radius: 0.5vw;
  margin: 2vh 2vw 0 auto;
}

.add img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.button-container button {
  width: 100%;
  padding: 0.5vw;
  border-radius: 0.5vw;
  border: 1px solid #000;
}

.button-container button:first-child {
  background-color: #d31b4a;
  color: #fff;
  border: none;
}

.button-container button:first-child:hover {
  background-color: #a3163c;
  border: none;
}

.button-container button:last-child {
  background-color: green;
  color: #fff;
  border: none;
}

.button-container button:last-child:hover {
  background-color: #006400;
  border: none;
}

@media screen and (max-width: 1100px) {
  .close_modifPopupMateriel img {
    height: 30px;
    width: auto;
  }
  .modifPopupMateriel,
  #ajouterMateriel {
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 4vh 4vw;
    border-radius: 3vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 70vw;
    height: auto;
    display: none;
  }

  .modifPopupMateriel_content_header h3 {
    font-size: 4.5vw;
    font-weight: 600;
  }

  .modifPopupMateriel_content_body_item label {
    font-size: 3vw;
    font-weight: 600;
  }
  .add {
    width: 6vw;
    height: 5vh;
  }
}
